*{
    margin: 0px;
}

.nav-bar {
  position: fixed;   /* ✅ Fixed makes navbar always visible */
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #111;
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

/* hide/show animation */
.nav-bar.show {
  transform: translateY(0);
}

.nav-bar.hide {
  transform: translateY(-100%);
}

/* prevent content overlap */
body {
  padding-top: 70px;
}

.nav-logo{
    color: white;
}
.nav-list{
 list-style: none;
 display: flex;  
 gap: 25px; 
}
.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: #5609e5;
}
.movie-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 5px;
    padding: 25px;
}

/* Movie Card Style */
.card-body{
    margin-top: 20px;
    width: 200px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.2s;
}
.card-body:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.card-body img{
    width: 100%;
    object-fit: cover;
}
.card-container{
    padding:10px;
}
.card-container h2{
    font-size: 20px;
    margin: 0 0 10px 0;
}
.card-container p{
    color: #555;
}


/* Movie Details */
.movie-details {
  padding: 20px;
}
.movie-details img{
  width: 100px;
  height:70px;
}
